## Zaobilazi kompajliran kod
[Db]in/
[Ob]j/

obj/
bin/

## Visual Studio privremeni fajlovi i keš
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

## NuGet paketi
packages/
*.nuget.props
*.nuget.targets
*.md